https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.OneHotEncoder.html

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# load dataset
url = 'https://raw.githubusercontent.com/jbrownlee/Datasets/master/abalone.csv'
dataframe = pd.read_csv(url, header=None)
dataframe.columns = ["Orientation","p1","p2","p3","p4","p5","p6","p7","p8"]
dataframe["Sex"] = dataframe["Orientation"].apply(lambda x: "Man" if x == "M"  else "Woman")
dataframe = dataframe[["Orientation","Sex","p8"]]
dataframe[:3]

  Orientation    Sex  p8
0           M    Man  15
1           M    Man   7
2           F  Woman   9

In [ ]:
from sklearn.preprocessing import OneHotEncoder

In [ ]:
ohe = OneHotEncoder(drop="first") # 
ohe.fit(dataframe[["Orientation","Sex"]])

OneHotEncoder(categories='auto', drop='first', dtype=<class 'numpy.float64'>,
              handle_unknown='error', sparse=True)

`pogląd danych na których wyćwiczono OHE`

In [ ]:
ohe.categories_

[array(['F', 'I', 'M'], dtype=object), array(['Man', 'Woman'], dtype=object)]

`podgląd wygenerowych nowych kolumn`

In [ ]:
ohe.get_feature_names() # z każdej kolumny usunęło pierwszę categorię i z reszty utowrzyło nowe kolumy

array(['x0_I', 'x0_M', 'x1_Woman'], dtype=object)

`parametry na jakich pracuje OHE`

In [ ]:
ohe.get_params()

{'categories': 'auto',
 'drop': 'first',
 'dtype': numpy.float64,
 'handle_unknown': 'error',
 'sparse': True}

`transform` -  zakodownie danych wg parametrów

In [ ]:
ohe.transform([['M', 'Woman']])

<1x3 sparse matrix of type '<class 'numpy.float64'>'
	with 2 stored elements in Compressed Sparse Row format>

`podgląd transform w array`

In [ ]:
ohe.transform([['M', 'Woman']]).toarray()

array([[0., 1., 1.]])

`podgląd transform w df`

In [ ]:
pd.DataFrame(ohe.transform([['M', 'Woman']]).toarray())

     0    1    2
0  0.0  1.0  1.0

`podgląd transform w df z nazwami kolumn`

In [ ]:
# fajne jest to, że jak wsadzimy dane 
pd.DataFrame(ohe.transform([ ['M','Woman']]).toarray(), columns=ohe.get_feature_names())

   x0_I  x0_M  x1_Woman
0   0.0   1.0       1.0

`transform na nowym df_now`

In [ ]:
df_nowy = pd.DataFrame([['M','Woman',1],['M','Man',5],['F','Man',34],['F','Woman',3],['I','Man',4],['I','Woman',6]], columns=["Orientation","Sex","p8"])
df_nowy

  Orientation    Sex  p8
0           M  Woman   1
1           M    Man   5
2           F    Man  34
3           F  Woman   3
4           I    Man   4
5           I  Woman   6

In [ ]:
# fajne jest to, że jak wsadzimy dane na których model 
# nie został wytrenowany to zwrca błąd 
dane_transform = ohe.transform(df_nowy[["Orientation","Sex"]])

df_transform = pd.DataFrame(dane_transform.toarray(), columns=ohe.get_feature_names())
df_transform

   x0_I  x0_M  x1_Woman
0   0.0   1.0       1.0
1   0.0   1.0       0.0
2   0.0   0.0       0.0
3   0.0   0.0       1.0
4   1.0   0.0       0.0
5   1.0   0.0       1.0

`dodanie przetransformowanych danych do nowego dataframe`

In [ ]:
df_nowy

  Orientation    Sex  p8
0           M  Woman   1
1           M    Man   5
2           F    Man  34
3           F  Woman   3
4           I    Man   4
5           I  Woman   6

In [ ]:
pd.concat([df_nowy, df_transform ], axis=1)

  Orientation    Sex  p8  x0_I  x0_M  x1_Woman
0           M  Woman   1   0.0   1.0       1.0
1           M    Man   5   0.0   1.0       0.0
2           F    Man  34   0.0   0.0       0.0
3           F  Woman   3   0.0   0.0       1.0
4           I    Man   4   1.0   0.0       0.0
5           I  Woman   6   1.0   0.0       1.0

`odkodowane`

In [ ]:
ohe.inverse_transform(df_transform )

array([['M', 'Woman'],
       ['M', 'Man'],
       ['F', 'Man'],
       ['F', 'Woman'],
       ['I', 'Man'],
       ['I', 'Woman']], dtype=object)

In [ ]:
pd.DataFrame(ohe.inverse_transform(df_transform ) )

   0      1
0  M  Woman
1  M    Man
2  F    Man
3  F  Woman
4  I    Man
5  I  Woman